		<div id="story_footer">
			 
			<div class="links">

				<% if @photographer.facebook_url %>
					<div style="height: 80px;">
						<iframe src="http://www.facebook.com/plugins/like.php?href=<%= CGI.escape @photographer.facebook_url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
					</div>
				<% end %>
			</div>

			<div class="modal" id="newsletter_modal">
				<p>
				Thank you for following my work. You will be able to unsubscribe
				anytime when receiving emails.
				</p>

				<p>
				Would you like to <%= link_to "see more about me", about_path %>?
				</p>

				<% if @photographer.facebook_url %>
					<hr />
					<div style="height: 80px;">
						<iframe src="http://www.facebook.com/plugins/like.php?href=<%= CGI.escape @photographer.facebook_url %>&amp;layout=standard&amp;show_faces=true&amp;width=400&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe>
					</div>
				<% end %>
			</div>

			<div class="pull-right">
				<%= form_for Email.new, :remote => true do |f| %>
					<div class="control-group">
						<div class="controls">
							<%= f.text_field :name, :placeholder => "Name" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.text_field :email, :placeholder => "Email Address" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.submit "Receive my newsletter", :class => "btn", :id => "new_email_submit" %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="clearfix"></div>

			<div id="social_icons">
				<% if @photographer.facebook_url %>
					<%= link_to image_tag("glyphicons_410_facebook.png"), @photographer.facebook_url %>
				<% end %>
				<% if @photographer.twitter_url %>
					<%= link_to image_tag("glyphicons_411_twitter.png"), @photographer.twitter_url %>
				<% end %>
				<%= link_to(image_tag("glyphicons_417_rss.png"), stories_path(:format => :atom)) %>
			</div>
		</div>

		<div id="heritage_footer">
			<a href="http://heritage.io">Powered by Heritage.</a>
		</div>
