<div class="purchase">
  <table class="table available_sizes table-bordered table-cart">

    <% if @cart.count > 0 %>
    <tr>
      <th colspan="4">
        Your cart: <%= pluralize(@cart.count, 'item') %>
      </th>
    </tr>

    <% @cart.cart_items.each do |item| %>
    <tr>
      <td>
        <%= select_tag "item_#{item.id}_count", options_for_select(0..10, item.count) %>
        <%= javascript_tag "$('#item_#{item.id}_count').select2({minimumResultsForSearch: 100, width: '50'});" %>
      </td>
      <td>
        <strong>
          <%= item.available_size.description %>
        </strong>
      </td>
      <td class="borderless">
        <%= item.available_size.price %> EUR
      </td>
      <td class="tableimg">
        <%= link_to(image_tag(item.photo.image_url(:thumb), :width => 50, :class => "thumb"),
        story_photo_path(item.photo.story.permalink || item.photo.story.id,
          item.photo.permalink || item.photo.id)) %>
      </td>
    </tr>
    <% end %>

    <tr>
      <td colspan="3">
        <div class="pull-right">
          Total: <b><%= @cart.total %> EUR</b>
        </div>
        <input type="text" class="input-large" placeholder="Enter your coupon" />
      </td>
      <td>
      </td>
    </tr>
    <% else%>
    <tr>
      <td>
        Your cart is currently empty. You can purchase prints browsing the
        website and clicking on single photos.
      </td>
    </tr>
    <% end %>
  </table>

  <div>
    <div class="pull-right">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <%= paypal_button_items %>
        <input type="hidden" name="upload" value="1">
        <%= hidden_field_tag :cmd, '_cart' %>
        <%= hidden_field_tag :return, root_url %>
        <%= hidden_field_tag :currency_code, "EUR" %>
        <%= hidden_field_tag :business, @photographer.email %>
        <input type="submit" value="Checkout" name="Checkout" alt="Purchase with Paypal" class="btn btn-primary" <%= 'disabled' if @cart.count == 0 %>>
      </form>
    </div>
    <%= link_to "Continue browsing", root_path %>
    <div class="clearfix"></div>
  </div>

  <div class="delivery muted">
    <small>
      Note: I do my best to deliver the prints as soon as possible, and I thank
      you for your trust. Contact me for any question.
    </small>
  </div>
</div>
