<%= semantic_form_for @story do |f| %>
	<%= f.inputs :name => "Basic" do %>
		<%= f.input :title %>
		<%= f.input :description, :input_html => { :class => 'input-xlarge', :rows => 10 } %>
		<span class="help-block">
			You can change all this later, after you uploaded your photos.
		</span>
	<% end %>

	<%= f.actions do %>
		<%= f.action :submit, :as => :button,:button_html => { :class => "btn btn-primary" } %>
		<%= f.action :cancel, :as => :link, :label => "Cancel" %>
	<% end %>
<% end %>
