<% key = Rails.application.config.session_options[:key] %>

<%= content_for :head_script do %>
<script type="text/javascript">
		$(document).ready(function() {
			// Handler for .ready() called.
				$("#sortable" ).sortable({ 
					revert: true,
					stop: function(e,ui) {
						$.ajax({
							data: $('#sortable').sortable('serialize'),
							type: 'POST',
							url: '<%= sort_story_path(@story) %>',
							success: function () {
							// it worked!  
							},
							error: function (response) {
							// we had an error
							}
						});
						
					}
					
					});
				$("#sortable").disableSelection();

				$('body').on('hidden', '.modal', function () {
						$(this).removeData('modal');
				});
		});
</script>
<% end %>
<%= content_for :scripts do %>
<script type="text/javascript">
    var upload_params = {
			'<%= key %>' : '<%= cookies[key] %>',
			'<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'swf'            : '/assets/uploadify.swf',
      'uploader'       : url,
      'fileObjName'	   : 'photo[image]',
      'fileTypeExts'   : '*.png;*.jpg;*.gif',
      'cancelImg'			 : '/images/cancel.png',
      'multi'          : true,
      'formData'       : upload_params,
      'auto'           : true,
      'onUploadSuccess' : function(file, data, response) {
        $('#sortable').append(data);
      }
    });
	</script>
<% end %>

			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">Story information</a></li>
					<li class=""><a href="#tab2" data-toggle="tab">Story Photos (<%= @story.photos.count %>)</a></li>
					<li><%= link_to "Public link", story_url(@story, :host => current_user.specific_url ) %></li>
				</ul>
				<%= semantic_form_for @story, :url => story_path, :html => {:method => :put} do |f| %>

				<div class="tab-content">

					<div id="tab1" class="tab-pane active">

							<%= f.inputs :name => "Story information" do %>
								<%= f.input :title, :input_html => { :class => 'input-xxlarge'}  %>
								<%= f.input :description, :input_html => { :class => 'autogrow input-xxlarge', :rows => 10, :cols => 40 } %>
								<%= f.input :tag_list, :input_html => { :class => 'input-xxlarge' }, :hint => "Enter, your, tags, with, commas" %>
								<%= f.input :is_private, :hint => "foobar" %>
							<% end %>

							<%= f.actions do %>
								<%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary" } %>
								<%= link_to "Cancel", story_path(@story), :class => "btn" %>
								or <%= link_to "delete this story", story_path(@story), :data => { :confirm => "Are you sure?" }, :method => :delete  %>
							<% end %>
					</div>

					<div id="tab2" class="tab-pane">
						<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Editing Photo properties</h3>
							</div>
							<div class="modal-body">
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>

						<div class="btn-toolbar">
							<div class="btn-group pull-right">
								<button type="button" class="btn"><a href="<%= editlong_story_path(@story) %>"><i class="icon-th-large"></i></a></button>
								<button type="button" class="btn"><i class="icon-th"></i></button>
							</div>
							<div class="clearfix"></div>
						</div>

						<%= f.inputs :name => "Story Photos" do %>
							<div id="photos thumbnails">
								<ul id="sortable">
									<% @story.photos.each do |photo| %>
										<li class="ui-state-default" id="sortable_<%= photo.id %>">
										<% if photo.image? %>
											<%= link_to image_tag(photo.image_url(:thumb), :alt => "Photo #{photo.id}"), 
												edit_story_photo_path(@story, photo.permalink || photo.id), {
												:class => "thumbnail", 'data-cache' => 'false', 
												'data-toggle' => 'modal', 'data-target' => '#myModal'
											}  %>
										<% end %>
										</li>
									<% end %>
								</ul>
								<div style="clear: both;"></div>
							</div>
							<% unless @story.new_record? %>
								<%= fields_for Photo.new do |f| %>
									<%= f.file_field :image, :rel => story_photos_path(@story) %>
								<% end %>
							<% end %>
						<% end %>
					</div>
			</div>

		<% end %>
</div>
