<% key = Rails.application.config.session_options[:key] %>

<%= content_for :head_script do %>
<script type="text/javascript">
		$(document).ready(function() {
			// Handler for .ready() called.
				$("#sortable" ).sortable({ 
					revert: true,
					stop: function(e,ui) {
						$.ajax({
							data: $('#sortable').sortable('serialize'),
							type: 'POST',
							url: '<%= sort_story_path(@story) %>',
							success: function () {
							// it worked!  
							},
							error: function (response) {
							// we had an error
							}
						});
						
					}
					
					});
				$("#sortable").disableSelection();

				var $modal = $('#ajax-modal');

				$('.ajax .demo').on('click', function(){
						// create the backdrop and wait for next modal to be triggered
						$('body').modalmanager('loading');

						setTimeout(function(){
							$modal.load('modal_ajax_test.html', '', function(){
								$modal.modal();
								});
							}, 1000);
						});



				/*
				$('body').on('hidden', '.modal', function () {
						$(this).removeData('modal');
						});
						*/
		});
</script>
<% end %>
<%= content_for :scripts do %>
<script type="text/javascript">
    var upload_params = {
			'<%= key %>' : '<%= cookies[key] %>',
			'<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'swf'            : '/assets/uploadify.swf',
      'uploader'       : url,
      'fileObjName'	   : 'photo[image]',
      'fileTypeExts'   : '*.png;*.jpg;*.gif;*.tif',
      'multi'          : true,
      'formData'       : upload_params,
      'auto'           : true,
      'onUploadSuccess' : function(file, data, response) {
        $('#sortable').append(data);
      }
    });
	</script>
<% end %>

     <div class="row">
        <div class="span2 well">
          <%= render partial: "stories/left" %>
        </div>
        <div class="span6">
				<%= semantic_form_for @story, :url => story_path, :html => {:method => :put} do |f| %>
							<%= f.inputs :name => "Story information" do %>
								<%= f.input :title, :input_html => { :class => 'input-xxlarge'},
                  :hint => "Your story public link is #{link_to(story_url(@story, host: @photographer.specific_url),
                    story_url(@story, host: @photographer.specific_url))}".html_safe %>
								<%= f.input :description, :input_html => { :class => 'autogrow input-xxlarge', :rows => 10, :cols => 40 } %>
								<%= f.input :tag_list, :input_html => { :class => 'input-xxlarge' }, :hint => "Enter, your, tags, with, commas" %>
                <%= f.input :is_private, hint: "foobar", label: "Private" %>
							<% end %>

							<%= f.actions do %>
								<%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary" } %>
								<%= link_to "Cancel", story_path(@story), :class => "btn" %>
								or <%= link_to "delete this story", story_path(@story), :data => { :confirm => "Are you sure?" }, :method => :delete  %>
							<% end %>
						<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

						<div id="responsive" class="modal hide fade" tabindex="-1">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Editing Photo properties</h3>
							</div>
							<div class="modal-body">
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>

						<div class="btn-toolbar">
							<div class="btn-group pull-right">
								<button type="button" class="btn"><a href="<%= editlong_story_path(@story) %>"><i class="icon-th-large"></i></a></button>
								<button type="button" class="btn"><i class="icon-th"></i></button>
							</div>
							<div class="clearfix"></div>
						</div>

						<%= f.inputs :name => "Story Photos" do %>
							<div id="photos thumbnails">
								<ul id="sortable">
									<% @story.photos.each do |photo| %>
										<li class="ui-state-default" id="sortable_<%= photo.id %>">
										<% if photo.image? %>
											<%= link_to image_tag(photo.image_url(:thumb), :alt => "Photo #{photo.id}"), 
												edit_story_photo_path(@story, photo.permalink || photo.id), {
												:class => "thumbnail", 'data-cache' => 'false', 
												'data-toggle' => 'modal', 'data-target' => '#myModal'
											}  %>
										<% end %>
										</li>
									<% end %>
								</ul>
								<div style="clear: both;"></div>
							</div>
							<% unless @story.new_record? %>
								<%= fields_for Photo.new do |f| %>
									<%= f.file_field :image, :rel => story_photos_path(@story) %>
								<% end %>
							<% end %>
						<% end %>
		<% end %>
</div>
</div>
