<% key = Rails.application.config.session_options[:key] %>

<%= content_for :head_script do %>
<script type="text/javascript">
		$(document).ready(function() {
			// Handler for .ready() called.
				$("#sortable" ).sortable({ 
					revert: true,
					stop: function(e,ui) {
						$.ajax({
							data: $('#sortable').sortable('serialize'),
							type: 'POST',
							url: '<%= sort_story_path(@story) %>',
							success: function () {
							// it worked!  
							},
							error: function (response) {
							// we had an error
							}
						});
						
					}
					
					});
				$("#sortable").disableSelection();

				$('body').on('hidden', '.modal', function () {
						$(this).removeData('modal');
				});
		});
</script>
<% end %>
<%= content_for :scripts do %>
<script type="text/javascript">
    var upload_params = {
			'<%= key %>' : '<%= cookies[key] %>',
			'<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'swf'            : '/assets/uploadify.swf',
      'uploader'       : url,
      'fileObjName'	   : 'photo[image]',
      'fileTypeExts'   : '*.png;*.jpg;*.gif',
      'cancelImg'			 : '/images/cancel.png',
      'multi'          : true,
      'formData'       : upload_params,
      'auto'           : true,
      'onUploadSuccess' : function(file, data, response) {
        $('#sortable').append(data);
      }
    });
	</script>
<% end %>

			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class=""><%= link_to "Story information", edit_story_path(@story) %></li>
					<li class="active"><a href="#tab2" data-toggle="tab">Story Photos (<%= @story.photos.count %>)</a></li>
					<li><%= link_to "Public link", story_path(@story) %></li>
				</ul>

				<div class="tab-content">

					<div id="tab2" class="tab-pane active">

						<%= form_for @story, :url => updatelong_story_path, :html => {:method => :put} do |f| %>

						<div class="btn-toolbar">
							<div class="btn-group pull-right">
								<button type="button" class="btn"><i class="icon-th-large"></i></button>
								<button type="button" class="btn"><a href="<%= edit_story_path(@story, :anchor => "tab2") %>"><i class="icon-th"></i></a></button>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="row-fluid">
							<ul class="thumbnails">
									<% @story.photos.each do |photo| %>
										<li class="ui-state-default thumbnail">
											<% if photo.image? %>
												<%= image_tag(photo.image_url(:thumb), :alt => "Photo #{photo.id}") %>
											<% end %>

											<div class="caption">
												<%= text_field "photos_#{photo.id}", :title, :value => photo.title, :class => 'input-large', :placeholder => "title" %>
												<div>
													<%= text_area "photos_#{photo.id}", :description, :value => photo.description, :class => 'input-large', :rows => 3, :cols => 3, :placeholder => "description"  %>
												</div>
												<div>
													<%= text_field "photos_#{photo.id}", :tag_list, :value => photo.tag_list, :class => 'input-large', :placeholder => "tag1, tag2" %>
												</div>
												<label class="checkbox">
													<%= check_box "photos_#{photo.id}", :for_sale, :checked => photo.for_sale, :class => 'input-large' %> For sale
												</label>

												<%= link_to "delete this photo", story_photo_path(@story, photo), :data => { :confirm => "Are you sure?" }, :method => :delete  %>
											</div>
										</li>
									<% end %>
							</ul>
						</div>
						<fieldset class="form-actions">
							<button class="btn btn-primary" name="button" type="submit">Update Photos</button>
							<a href="/stories/2nd" class="btn">Cancel</a>
						</fieldset>
					<% end %>
					</div>
			</div>
</div>
