<%= content_for :head_script do %>
	<%= stylesheet_link_tag "/stylesheets/global" %>
	<script type="text/javascript">
		$(document).ready(function() {
				$('#slides').slides({
					preload: true,
					preloadImage: '/assets/images/loading.gif',
					hoverPause: true
					});
		});

	</script>
<% end %>

<% if @story.photos.any? %>

	<div id="story">
		<!--
	<div class="tagslist">
		<% @story.tags.each do |tag| %>
			<span class="label"><%= tag.name %></span>
		<% end %>
	</div>
	-->

	<div id="example" style="height: <%= @story.max_photo_height + 200 %>px;">
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">

				<% @story.photos.each_with_index do |photo,i| %>
					<div class="item <%= "active" if i == 0 %>" style="height: <%= @story.max_photo_height + 200 %>px;">
						<a href="#"><%= image_tag(photo.image_url(:web), :width => 800, :height => photo.photo_dimension.last) if photo.image? %></a>

						<p class="muted">
						<%= link_to story_photo_url(@story, photo.permalink || photo.id), story_photo_path(@story, photo.permalink || photo.id) %>
						</p>
					</div>
				<% end %>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>

</div>
</div>
<% end %>
