<%= content_for :head_script do %>
	<%= stylesheet_link_tag "/stylesheets/global" %>
	<script type="text/javascript">
		$(document).ready(function() {
				$('#carousel').flexslider({
					animation: "slide",
					controlNav: false,
					animationLoop: false,
					slideshow: false,
					itemWidth: 210,
					itemMargin: 5,
					asNavFor: '#slider'
				});
				$('#slider').flexslider({
					animation: "slide",
					controlNav: false,
					animationLoop: false,
					sync: "#carousel",
					slideshow: false,
					start: function(slider){
					$('body').removeClass('loading');
					}
				});
		});

	</script>
<% end %>

<% if @story.photos.any? %>
	<div id="story">
		<!--
	<div class="tagslist">
		<% @story.tags.each do |tag| %>
			<span class="label"><%= tag.name %></span>
		<% end %>
	</div>
	-->

		<div id="slider" class="flexslider">
			<ul class="slides">
				<% @story.photos.each_with_index do |photo,i| %>
					<li>
						<%= image_tag(photo.image_url(:web), :width => 800, :height => photo.photo_dimension.last) if photo.image? %>
					</li>
				<% end %>
			</ul>
		</div>
		<div id="carousel" class="flexslider">
			<ul class="slides">
				<% @story.photos.each_with_index do |photo,i| %>
					<li>
					<%= image_tag(photo.image_url(:thumb), :width => 300, :height => 300) if photo.image? %>
					</li>
				<% end %>
			</ul>
		</div>

</div>
</div>
<% end %>
