<%= content_for :facebook_meta do %>

  <%= tag(:meta, property: 'og:url', content: story_url(@story)) %>
  <% if @story.photos.any? %>
    <%= tag(:meta, property: 'og:image',
                  content: full_image_link(@story.photos.first.image_url(:web))) %>
  <% end %>
  <%= tag(:meta, property: 'og:title', content: "#{@story.title} - #{@photographer.name}" ) %>
  <%= tag(:meta, property: 'og:description', content: @story.description) %>
  <%= tag(:meta, property: 'og:site_name', content: @photographer.name) %>

<% end %>

<div id="photos">
  <ul class="thumbs">
    <% @story.photos.each_with_index do |photo,i| %>
    <li class="ui-state-default">
    <div class="thumbs_outer">
      <div class="thumbs_inner thumbs_image">
        <%= link_to image_tag(photo.image_url(:thumb)), 
        story_photo_path(@story, photo.permalink || photo.id) %>
      </div>
      <div class="thumbs_inner thumbs_background"></div>
      <div class="thumbs_info" id="thumbs_info_<%= photo.id %>">
        <div class="thumbs_text">
          <% if photo.description %>
          <br/>
          <%= photo.description %>
          <% else %>
          <%= i + 1 %>
          <% end %>
        </div>
      </div>
    </div>
    </li>
    <% end %>
</ul>
  <div id="story_description">
    <h3><%= @story.title %></h3>
    <%= @story.description %>
  </div>
</div>
