
<div id="photos">
  <ul class="thumbs">
    <% @story.photos.each_with_index do |photo,i| %>
    <li class="ui-state-default">
    <div class="thumbs_outer">
      <div class="thumbs_inner thumbs_image">
        <%= link_to image_tag(photo.image_url(:thumb)), 
        story_photo_path(@story, photo.permalink || photo.id) %>
      </div>
      <div class="thumbs_inner thumbs_background"></div>
      <div class="thumbs_info" id="thumbs_info_<%= photo.id %>">
        <div class="thumbs_text">
          <% if photo.description %>
          <br/>
          <%= photo.description %>
          <% else %>
          <%= i + 1 %>
          <% end %>
        </div>
      </div>
    </div>
    </li>
    <% end %>
</ul>
  <div id="story_description">
    <h3><%= @story.title %></h3>
    <%= @story.description %>
  </div>
</div>

<script type="text/javascript">
$('.thumbs_image').hover(function() {
    $($(this).parent().find('.thumbs_background')).show();
    $($(this).parent().find('.thumbs_info')).show();
  },
  function() {
    $($(this).parent().find('.thumbs_background')).hide();
    $($(this).parent().find('.thumbs_info')).hide();
  });
</script>
