<%= content_for :facebook_meta do %>
	<meta property="og:url" content="<%= about_url %>" />
	<% if @photographer.user_avatar %>
		<meta property="og:image" content="<%= full_image_link @photographer.user_avatar.image_url(:thumb) %>" />
	<% end %>
	<meta property="og:title" content="<%= @photographer.name %> - Photography" />
	<meta property="og:description" content="<%= @photographer.description %>" />
	<meta property="og:site_name" content="<%= @photographer.name %>"/>
<% end %>
<%= render :partial => 'photographers/about' %>

<h2 class="about-heading">Stories</h2>

<%= render :partial => 'stories/thumbnails' %>
