<%= content_for :facebook_meta do %>
	<meta property="og:url" content="<%= contact_url %>" />
	<% if @photographer.avatar? %>
		<meta property="og:image" content="<%= full_image_link @photographer.avatar_url(:thumb) %>" />
	<% end %>
	<meta property="og:title" content="<%= @photographer.name %> - Photography" />
	<meta property="og:description" content="<%= @photographer.description %>" />
	<meta property="og:site_name" content="<%= @photographer.name %>"/>
<% end %>

<div class="about">
  <%= image_tag(user_avatar(@current_photographer), :class => "pull-left") %>
  <h2 class="about-heading"><%= @photographer.name %></h2>
  <p class="lead">
  <% if @photographer.contact %>
  <%= @markdown.render(@photographer.contact).html_safe %>
  <% end %>
  </p>

	<p class="lead">
	<% if @photographer.facebook_url %>
		<%= link_to "Facebook", @photographer.facebook_url, :class => "btn" %>
	<% end %>
	<% if @photographer.twitter_url %>
		<%= link_to "Twitter", @photographer.twitter_url, :class => "btn" %>
	<% end %>
	<% if @photographer.blog_url %>
		<%= link_to "Blog", @photographer.blog_url, :class => "btn" %>
	<% end %>
	</p>
	<div class="clearfix"></div>
</div>
