<%= content_for :head_script do %>
	<%= stylesheet_link_tag "/stylesheets/global" %>
<% end %>

<% if @front_story %>
	<% photo = @front_story.photos.first %>
	<div id="frontstory">
		<%= link_to(image_tag(@front_story.photos.first.image_url(:web)), story_photo_path(@front_story, photo)) %>
	</div>
<% end %>

<div id="photos">
	<ul id="sortable">
	<% @stories.each do |story| %>
		<% if story.photos.any? && story.photos.first.image? %>
			<% photo = story.photos.first %>

			<li class="ui-state-default" id="sortable_<%= story.id %>">
			<%= link_to(image_tag(story.photos.first.image_url(:thumb)), story_photo_url(story, photo.permalink || photo.id)) %>
			</li>

		<% end %>
	<% end %>

  </ul>
  <div class="clearfix"></div>
</div>
