<%= content_for :head_script do %>
	<%= stylesheet_link_tag "/stylesheets/global" %>
<% end %>
<div id="about">
	<p>
	<%= @photographer.name %>
	</p>

	<p>
	<%= @photographer.description %>
	</p>
</div>

<div id="photos">
	<ul id="sortable">
	<% @stories.each do |story| %>
		<% if story.photos.any? && story.photos.first.image? %>

			<li class="ui-state-default" id="sortable_<%= story.id %>">
			<a href="<%= story_path(story) %>">
				<%= image_tag story.photos.first.image_url(:thumb) %>
			</a>
			</li>

		<% end %>
	<% end %>

  </ul>
  <div style="clear: both;"></div>
</div>
