					
<div class="purchase">
  <%= semantic_form_for @photo,
  :url => add_cart_path,
  :html => {:class => 'form form-horizontal'} do |f| %>
  <table class="table available_sizes table-bordered">
    <tr>
      <td>
        <%= image_tag(@photo.image_url(:thumb), :width => 50) %>
      </td>
      <td>
        <%= select_tag "size", options_for_select(photos_size_options(@photographer)), class: "pull-right" %>
      </td>
      <td>
        <%= hidden_field_tag :photo_id, @photo.id %>
        <%= f.submit "Buy", class: "btn btn-primary pull-right", style: "width: 100px;" %>
      </td>
    </tr>
  </table>
  <% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th colspan="3">Prints Available</th>
  </tr>
  <% @photographer.available_sizes.each do |size| %>
  <tr>
    <td>
      <%= size.size %>
    </td>
    <td>
      <%= size.description %>
    </td>
    <td>
      <div class="pull-right">
        <%= size.price %> euros
      </div>
    </td>
  </tr>
  <% end %>
</table>
</div>
