<h1><%= current_user.emails.count %> emails</h1>
<p>
<%= link_to "Text export", export_emails_path %>
</p>
<%= will_paginate @emails, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped">
  <% @emails.each do |email| %>
  <% next if email.email.strip.blank? %>
  <tr>
    <td>
      <%= email.email %>
    </td>
    <td>
      <%= link_to "delete", email_path(email),
        method: :delete,
        confirm: "Are you sure?",
        class: "btn pull-right",
        remote: true %>
    </td>
  </tr>
  <% end %>
</table>
