<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Heritage" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "admin", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-ui" %>
		<%= yield :head_script %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Heritage</a>
          <div class="container nav-collapse">
            <ul class="nav">
							<%= tabs_tag(:builder => BoostrapTabs, 
													 :open_tabs => { :class => "nav" }) do |tab| %>
								<%= tab.home 'Home', root_path %>

								<li class="divider-vertical"></li>

								<% if current_user %>
									<li class="dropdown">

									<%= link_to "Stories <b class='caret'></b>".html_safe, "#", 
										:class => "dropdown-toggle", 
										'data-toggle'=>"dropdown" %>

										<ul class="dropdown-menu">
											<li><%= link_to "Create a story", new_story_path %></li>
											<li>
											<%= link_to "All Stories", stories_account_path %>
											</li>
											<li class="divider"></li>
											<% @stories.each do |story| %>
												<li><%= link_to "#{story.title} (#{story.photos.count})", edit_story_path(story) %></li>
											<% end %>
										</ul>

										</li>
									<% end %>

								<%= tab.account "Your Account", edit_account_path %>
								<%= tab.audience "Your Audience", emails_path %>
								<% if @photographer && @photographer.specific_url %>
									<%= tab.public_website "Your Public Website", "http://#{@photographer.specific_url}" %>
								<% end %>
							<% end %>

						</ul>
						<div class="pull-right">
							<ul class="nav">
								<% if current_user %>
									<li class="dropdown">
									<%= link_to "#{current_user.email} <b class='caret'></b>".html_safe, "#", :class => "dropdown-toggle", 'data-toggle'=>"dropdown" %> 
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><%= link_to "Edit your account", edit_account_path %></li>
										<li class="divider"></li>
										<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
									</ul>
									</li>
								<% else %>
								<% end %>
							</ul>
						</div>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>


		<div class="container" style="padding-top: 60px;">
			<%= render :partial => 'shared/top_flash' %>

			<%= yield %>

			<footer>
			<p>&copy; Fabien Penso 2012</p>
			</footer>

		</div> <!-- /container -->

		<%= yield :scripts %>
	</body>
</html>
