<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="fb:app_id" content="143622885792396" />
		<meta property="fb:admins" content="689541045" />

    <%= yield :facebook_meta %>

    <title><%= @title ? @title : "Heritage" %></title>
    <%= csrf_meta_tags %>

		<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "global", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%# javascript_include_tag "bootstrap-carousel" %>
		<%= javascript_include_tag "jquery.flexslider-min" %>

		<%# stylesheet_link_tag "/stylesheets/global" %>

		<%= yield :head_script %>
  </head>
  <body>
		<div id="story_header_container">
			<div class="story_header">
				<div class="leftlogo">
					<%= link_to @photographer.name || "", root_url %>
				</div>
				<div class="navlinks">

          <%= tabs_tag(builder: BoostrapTabs,
            open_tabs: { :class => "nav nav-pills" }) do |tab| %>
            <% if !@photographer.description.blank? || !@photographer.contact.blank? || @photographer.any_for_sale? || !@photographer.blog_url.blank? %>
              <%= tab.home 'Home', root_url %>
            <% end %>
            <% if !@photographer.description.blank? %>
              <%= tab.about 'About', about_path %>
            <% end %>
            <% if !@photographer.contact.blank? %>
              <%= tab.contact 'Contact', contact_path %>
            <% end %>
            <% if @photographer.any_for_sale? %>
              <%= tab.for_sale "For Sale", photographer_path(@photographer) %>
            <% end %>
						<% if !@photographer.blog_url.blank? %>
							<%= tab.blog "Blog", @photographer.blog_url %>
						<% end %>
          <% end %>

				</div>
			</div>
		</div>

		<div id="container">
			<%= yield %>
		</div> <!-- /container -->

		<%= render :partial => 'shared/footer' unless params[:controller] == 'stories' || params[:controller] == 'photos' %>

		<%= yield :scripts %>

		<% if @photographer.google_tracking_id %>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '<%= @photographer.google_tracking_id %>']);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();

		</script>
	  <% end %>
  </body>
</html>
