<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :facebook_meta %>

    <title><%= content_for?(:title) ? yield(:title) : "Heritage" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap-carousel" %>
		<%= yield :head_script %>
  </head>
  <body>
		<div id="story_header_container">
			<div class="story_header">
				<div class="leftlogo">
					<%= link_to @story.user.name, root_url %>
				</div>
				<div class="navlinks">
					<ul>
						<li><%= link_to "Home", root_url %></li>
						<li><%= link_to "Stories", photographer_path(@story.user) %></li>
						<li><%= link_to "About", photographer_path(@story.user) %></li>
						<li><%= link_to "Contact", photographer_path(@story.user) %></li>
						<% if @story.user.any_for_sale? %>
							<li><%= link_to "For Sale", photographer_path(@story.user) %></li>
						<% end %>
						<li><%= link_to "Blog", "" %></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="container">
			<%= yield %>
		</div> <!-- /container -->

		<div id="story_footer">
			 
			<div class="links">

				<% if @story.user.facebook_url %>
					<div style="height: 80px;">
						<iframe src="http://www.facebook.com/plugins/like.php?href=<%= CGI.escape @story.user.facebook_url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
					</div>
				<% end %>
			</div>

			<div class="pull-right">
				<%= form_for Email.new, :remote => true do |f| %>
					<div class="control-group">
						<div class="controls">
							<%= f.text_field :name, :placeholder => "Name" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.text_field :email, :placeholder => "Email Address" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.submit "Receive my newsletter", :class => "btn", :id => "new_email_submit" %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="clearfix"></div>

			<div id="social_icons">
				<% if @story.user.facebook_url %>
					<%= link_to image_tag("/assets/images/glyphicons_410_facebook.png"), @story.user.facebook_url %>
				<% end %>
				<% if @story.user.twitter_url %>
					<%= link_to image_tag("/assets/images/glyphicons_411_twitter.png"), @story.user.twitter_url %>
				<% end %>
				<%= link_to(image_tag("/assets/images/glyphicons_417_rss.png"), stories_path(:format => :atom)) %>
			</div>
		</div>

		<div id="heritage_footer">
			<a href="http://heritage.io">Powered by Heritage.</a>
		</div>

		<%= yield :scripts %>
  </body>
</html>
