<% key = Rails.application.config.session_options[:key] %>

<%= content_for :head_script do %>
<script type="text/javascript">
		$(document).ready(function() {
			// Handler for .ready() called.
				$("#sortable" ).sortable({ 
					revert: true,
					stop: function(e,ui) {
						$.ajax({
							data: $('#sortable').sortable('serialize'),
							type: 'POST',
							url: '<%= sort_photographer_path(@photographer) %>',
							success: function () {
							// it worked!  
							},
							error: function (response) {
							// we had an error
							}
						});
						
					}
					
					});
				$("#sortable").disableSelection();
		});
</script>
<% end %>

<%= semantic_form_for @photographer, :url => account_path, :html => {:method => :put} do |f| %>
	<%= f.inputs :name => "Your social medias" do %>
		<%= f.input 'facebook_url', :label => "Facebook page", 
			:hint => "This is used for the like button at the bottom of your stories", 
			:input_html => { :class => "input-xxlarge" } %>
	<% end %>

	<%= f.actions do %>
		<%= f.action :submit, :as => :button, :label => "Save", 
			:button_html => { :class => "btn btn-primary btn-large" } %>
	<% end %>

<% end %>

	</div>
</div>

