			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<%= render :partial => 'lefttabs' %>
				</ul>
				<div class="tab-content">
					<%= semantic_form_for @photographer, :url => account_path, :html => {:method => :put} do |f| %>
						<%= f.inputs :name => "Your website" do %>
							<%= f.input :specific_url, :label => "Your domain name", 
								:input_html => { :class => 'input-xlarge', :type => 'text' } %>

							<span class="help-block">
									Want to use your own domain like www.<%= current_user.name.downcase.gsub(' ', '') %>.com? 
									<ul>
										<li>point your DNS to 91.194.60.228</li>
										<li>Fill it up here</li>
									</ul>
							</span>
						<% end %>

						<%= f.inputs :name => "Your Analytics" do %>
							<%= f.input :google_tracking_id, :label => "Google Analytics" %>
							<span class="help-block">
								Example: UA-299804-4, you can get codes at <a href="https://www.google.com/analytics/">Google</a>.
							</span>
						<% end %>

							<%= f.actions do %>
								<%= f.action :submit, :as => :button, :label => "Save", 
									:button_html => { :class => "btn btn-primary btn-large" }  %>
								<% end %>
							<% end %>
				</div>
			</div>
